*{
    margin: 0;
    padding: 0;
}
.background{
    height: 100vh;
    width: 100%;
    background-image: url(low-poly_841014-9386.avif);
    background-position: center;
    background-size: cover;
}
.Nav{
    position: absolute;
    background-color: rgb(0, 136, 255);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 60;
    font-size: 24px;
}
.Nav button{
    position: relative;
    top: -45;
    left: 180;
    width: 100;
    background-color: rgb(0, 136, 255);
    border: none;
    color: #fff;
    height: 40;
    transition: 0.5s;;
}
.Nav button:hover{
    font-size: 15px;
}
.Input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Input form input {
    height: 50px; /* Specify the height */
    width: 400px; /* Specify the width */
    margin: 10px; /* Add margin for spacing */
}

.Input form button {
    height: 40px; /* Specify the height */
    width: 100px; /* Specify the width */
    border: none;
    background-color: rgb(0, 136, 255);
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
}
.Input form button:hover{
    background-color: rgb(5, 76, 138);
}